
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Supplier</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item m-1">
          <a class="nav-link active" aria-current="page" routerLink="/Register" routerLinkActive="active" [hidden]="isLogged">Register</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link" routerLink="/Login" routerLinkActive="active" [hidden]="isLogged">Login</a>
        </li>
        <li class="nav-item mx-1">
          <button class="btn btn-primary" type="button" (click)="Logout()" [hidden]="!isLogged">Logout</button>
        </li>
        <li class="nav-item mx-1">
          <a class="btn btn-primary" routerLink="/Add" role="button">Add Product</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
